
<% if resource_name.to_s == 'client' %>
	<p class='client-title'>Client Sign up</p>
<% elsif resource_name.to_s == 'developer' %>
	<p class='developer-title'>Developer Sign up</p>
<% end %>

<br/>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>
	<div class='textbox-container'>
		<%= f.label :email, class: 'textbox-label' %><br/>
		<%= f.email_field :email, autofocus: true, class: 'textbox' %>
	</div>
	<div class='textbox-container'>
		<%= f.label :password, class: 'textbox-label' %><br/>
		<%= f.password_field :password, autocomplete: "off", class: 'textbox' %>
	</div>
	<div class='textbox-container'>
		<%= f.label :password_confirmation, class: 'textbox-label' %><br/>
		<%= f.password_field :password_confirmation, autocomplete: "off", class: 'textbox' %>
	</div>
	<div>
		<%= f.submit "Sign up", class: 'submit' %>
	</div>
<% end %>

<%= render "devise/shared/links" %>

