
<% if resource_name.to_s == 'client' %>
    <p class='client-title'>Client Reset Password</p>
<% elsif resource_name.to_s == 'developer' %>
    <p class='developer-title'>Developer Reset Password</p>
<% end %>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

	<% resource.errors.full_messages.each do |message| %>
		<br/><p class="error-message"><%= message %></p>
	<% end %><br/>

	<p class='project-text'>Please enter a new password:</p><br/>   

	<%= f.hidden_field :reset_password_token %>

	<div>
		<%= f.label :password, "New password", class: 'textbox-label' %><br/>
		<%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'textbox' %>
	</div><br/>

	<div>
		<%= f.label :password_confirmation, "Password Confirmation", class: 'textbox-label' %><br/>
    	<%= f.password_field :password_confirmation, autocomplete: "off", class: 'textbox' %>
    </div>

  	<div>
  		<%= f.submit "Submit", class: 'submit' %>
  	</div>

<% end %>

