
<% if resource_name.to_s == 'client' %>
    <p class='client-title'>Client Reset Password</p>
<% elsif resource_name.to_s == 'developer' %>
    <p class='developer-title'>Developer Reset Password</p>
<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

	<% resource.errors.full_messages.each do |message| %>
		<br/><p class="error-message"><%= message %></p>
	<% end %><br/>

	<p class='project-text'>Please enter your email to receive instructions:</p><br/>   

	<div><%= f.label :email , class: 'hidden-label' %>
		<%= f.email_field :email, autofocus: true, class: 'textbox' %>
	</div>

	<div>
		<%= f.submit "Submit", class: 'submit', id: 'submit-spinner' %>

		<% if resource_name.to_s == 'client' %>
		  	<%= link_to('Back', new_client_session_path, class: 'button') %>  
		<% elsif resource_name.to_s == 'developer' %>
			<%= link_to('Back', new_developer_session_path, class: 'button') %>  
		<% end %>
	</div>

<% end %>

<div id='spinner' class='spinner' style='display: none;' >
	<%= image_tag '/assets/spinner.gif', alt: 'Loading', id: 'img-spinner' %>
</div>

