
<p class='client-title'>Client Dashboard</p>

<div class='project-list-container'>
	<% if @projects != [] %>
		<% @projects.each do |project| %>
			<div class='project-container'>
				<p class='project-text'>Project ID: <%= project.id %></p>
				<p class='project-text'>Project name: <%= project.name %></p>
				<p class='project-text'>Project status: <%= project.status %></p>
				<p class='project-text'>Project required skills:
					<% if project.skills.any? %>
						<% project.skills.each do |skill| %>
							<%= skill.name %>
						<% end %>
					<% else %>
							No skills defined
					<% end %>
				</p>
				<p class='project-links'>
					<%= link_to 'Show', client_project_path(current_client, project.id), class: 'small-button' %>  
					<%= link_to 'Edit', edit_client_project_path(current_client, project.id), class: 'small-button' %>
					<%= link_to 'Delete', client_project_path(current_client, project.id), data: { confirm: "Are you sure?" }, method: :delete, class: 'small-button' %>
				</p>  
			</div>
		<% end %>
	<% else %>
		<p class='textbox-label'>No Projects Yet</p>
	<% end %>
</div>

<div class='create-button-container'>
	<%= link_to 'Create New Project', new_client_project_path(current_client), class: 'create-button button' %>  
</div>



