
<p class='client-title'>Edit Project</p>

<% @project.errors.full_messages.each do |message| %>
	<p class="error-message"><%= message %></p>
<% end %><br/>

<%= form_for [@client, @project] do |form| %>
	<div>
		<%= form.label :name, class: 'project-text' %><br>
		<%= form.text_field :name, autofocus: true, class: 'textbox' %>
	</div><br/>
	<div>
		<p class='project-text'>Required Skills:</p><br/>	
		<% @skills.each do |skill| %>
			<div class="ck-button">
				<label for=<%= skill.name.downcase %>>
					<% if @project.skills.include?(skill) %>
						<input id=<%= skill.name.downcase %> name=<%= skill.name.downcase %> type="checkbox" checked />
					<% else %>
						<input id=<%= skill.name.downcase %> name=<%= skill.name.downcase %> type="checkbox" />
					<% end %>
					<span><%= skill.name %></span>
				</label>
			</div>
		<% end %>
	</div>
	<div class='links-container')>
		<%= form.submit 'Update', class: 'submit' %>
		<%= link_to('Back', client_dashboard_path(@client), class: 'button') %>  
	</div>
<% end %>

