
<% if resource_name.to_s == 'client' %>
	<p class='client-title'>Client Sign in</p>
<% elsif resource_name.to_s == 'developer' %>
	<p class='developer-title'>Developer Sign in</p>
<% end %>

<br/>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	<div class='textbox-container'>
		<%= f.label :email, class: 'textbox-label' %><br/>
		<%= f.email_field :email, autofocus: true, class: 'textbox' %>
	</div>
	<div class='textbox-container'>
		<%= f.label :password, class: 'textbox-label' %><br/>
		<%= f.password_field :password, autocomplete: "off", class: 'textbox' %>
	</div>

	<% if devise_mapping.rememberable? -%>
		<div class='textbox-container'>
			<%= f.check_box :remember_me, class: 'remember-checkbox' %> <%= f.label :remember_me, class: 'textbox-label' %>
		</div>
	<% end -%>

	<div>
		<%= f.submit "Sign in", class: 'submit' %>
	</div><br/>
<% end %>

<%= link_to('Forgot your password?', new_password_path(resource_name), class: 'forgot-password-link') %>      

