<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Talent</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag 'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<br/>        
    	<%= content_tag(:p, notice, id: 'notice') if notice %>
    	<%= content_tag(:p, alert,  id: 'alert') if alert  %>
       	<br/>       
		<% if client_signed_in? %>
		  	<%= link_to('Dashboard', client_dashboard_path(current_client)) %>        
		  	<%= link_to('Profile', client_profile_path(current_client)) %>        
		  	<%= link_to('Edit Profile', edit_client_registration_path) %>        
		  	<%= link_to('Sign out', destroy_client_session_path, method: :delete) %>        
		<% else %>
		 	<%= link_to('Client Sign up', new_client_registration_path)  %>  
		  	<%= link_to('Client Sign in', new_client_session_path)  %>  
			<%= link_to('Home', root_path) %>
		<% end %>
		<br/><br/>        

		<%= yield %>

	</body>
</html>
